
Assignments/Assignment 1/.ipynb_checkpoints/Assignment 1-checkpoint.ipynb
Assignments/Assignment 1/glass.txt
Assignments/Assignment 1/glass_test.txt
Assignments/Assignment 1/glass_train.txt
Assignments/Assignment 1/tic-tac-toe.txt
